table tr.no-data td {
    text-align: center;
}

.minefield td {
	border: 1px solid black;
}

.minefield .cell {
	text-decoration: none;
	color: black;
}

.minefield .cell div {
	width: 24px;
	height: 24px;
	text-align: center;
}

.minefield .cell div.mine {
    font-size: 0px;
    background: no-repeat url("../images/mine.png");
}
