<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Welcome to Minesweeper</title>
</head>
<body>
<div th:fragment="content">
    <h1>Welcome to Minesweeper</h1>

    <p>This is a really great game !</p>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Size</th>
            <th>Mine count</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="minefield : ${minefields}" th:object="${minefield}">
            <td th:text="|*{width}x*{height}|">5x5</td>
            <td th:text="*{count}">2</td>
            <td>
                <a th:href="@{|/minesweeper/play/*{id}|}" class="btn btn-primary" role="button">
                    <span class="oi oi-media-play" title="Continuer" aria-hidden="true"></span>
                </a>
                <a th:href="@{|/minesweeper/delete/*{id}|}" class="btn btn-danger" role="button">
                    <span class="oi oi-delete" title="Supprimer" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        <tr th:if="${minefields.size() == 0}" class="no-data">
            <td colspan="4">No existing games</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
