<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Create a new game</title>
</head>
<body>
<div th:fragment="content">
    <h1>Create a new game</h1>

    <p>Width and height should be between 2 and 20</p>
    <p>There should be less mine than cells (obviously)</p>

    <form action="#" th:action="@{/minesweeper/create}" method="post" th:object="${form}">
        <div class="alert alert-danger" th:if="${error != null}" th:text="${error}">Error</div>

        <div class="form-group">
            <label for="width">Field width</label>
            <input type="text" class="form-control" id="width" placeholder="Width" th:field="*{width}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('width')}" th:errors="*{width}">Error</div>
        </div>
        <div class="form-group">
            <label for="height">Field height</label>
            <input type="text" class="form-control" id="height" placeholder="Height" th:field="*{height}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('height')}" th:errors="*{height}">Error</div>
        </div>
        <div class="form-group">
            <label for="count">Number of mines</label>
            <input type="text" class="form-control" id="count" placeholder="Count" th:field="*{count}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('count')}" th:errors="*{count}">Error</div>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
</body>
</html>
