<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Playing Minesweeper...</title>
</head>
<body>
<div th:fragment="content">
    <p></p>
    <p class="alert alert-info">This is your minefield, there are <span th:text="${minefield.count}">10</span> mines in it !</p>
    <div class="alert alert-danger" role="alert" th:if="${message}" th:text="${message}"></div>

    <div class="alert alert-success" role="alert" th:if="${minefield.status.name() == 'WIN'}">Great, you won !</div>
    <div class="alert alert-dark" role="alert" th:if="${minefield.status.name() == 'LOST'}">Boom, you lost !</div>

    <table class="minefield">
        <tr th:each="y: ${#numbers.sequence(0, minefield.height - 1)}">
            <td th:each="x: ${#numbers.sequence(0, minefield.width - 1)}">
                <a href="#" class="cell" th:href="@{/minesweeper/play/{id}/{x}/{y}(id=${minefield.id},x=${x},y=${y})}">
                    <div th:classappend="${field[y][x]}" th:text="${field[y][x]}"></div>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
